<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
  <head>
  
  <script>
    function onSubmit(token) {

    alert('Obrigado ' + document.getElementById('field').value + " o token gerado= " +token);
    console.log("Token = " + token);
    alert('thanks ' + document.getElementById('field').value);
    }

    function validate(event) {
      event.preventDefault();
      if (!document.getElementById('field').value) {
        alert("You must add text to the required field");
      } else {
        grecaptcha.execute();
      }
    }

    function onload() {
      var element = document.getElementById('submit');
      element.onclick = validate;
    }
  </script>
  
  <script src="https://www.google.com/recaptcha/api.js"
        async defer>
  </script>
  
  </head>
  <body>

  <h1> TELA COM RECAPTCHA IMPLEMENTADO </h1>

  <div style="margin-top: 100px; margin-left:100px;">
    <form>
      <p>Name:</p>
      <input id="field" name="field">
      <p></p>
      <div id='recaptcha' class="g-recaptcha"
          data-sitekey="6LeK31YeAAAAAEdCBQOEFRuC4c7UQZT3p0ll-5-m"
          data-callback="onSubmit"
          data-size="invisible"></div>
      <button id='submit'>submit</button>
    </form>
    </div>

   
    <script>onload();</script>
    
  </body>
</html>